<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset= "UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <title>CheesyBurgs</title>
    <link rel= "icon" href="assets/img/burger.ico">
    <title>CheeseBurglarApp</title>

    <link href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href= "assets/css/burger_style.css" rel= "stylesheet">
</head>

<body>
    <div>
        {{{ body }}}
    </div>
    <hr>

    <footer class= "center footer">
        <div class= "container">
            <p> "Trever Simmons" </p>
        </div>
    </footer>
</body>

</html>